# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Diretórios de build
/dist
/build
/public

# Arquivos de ambiente
.env

# Arquivos de dependências globais
package-lock.json
yarn.lock

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários do editor
*.swp
*.swo
*.swn

# Outros arquivos de configuração do sistema de controle de versão
*.log

# Pastas de testes temporários
coverage/
test-results/
